@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li a {
  color: black
}

nav li {
  padding: 10px 20px;
  border-radius: 5px;
  transition: .5s;

}

/* nav li:hover {
  background-color: aliceblue;
  transition: .5s;
} */

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}

nav li input {
  border: 1px solid rgb(203, 202, 202);
  padding: 5px 10px;
  border-radius: 5px;
}

.bannerCircle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #60acee;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.naxse {
  z-index: 999;
  transition: .8s;
  background-color: rgba(255, 255, 255, 0.761);
}
body{
  scroll-behavior: smooth;
}
.stickyNav { 
  position: -webkit-sticky;
  position: sticky; 
  top: 0;
  backdrop-filter: blur(12px);
  z-index: 999;
  transition: .8s;
  background-color: rgba(223, 253, 253, 0.761);
}

.align-items-end {
  align-items: end !important;
}

.icon-container {
  display: flex;
  gap: 1rem;
}

.icon-container a {
  padding: 10px 12px;
  background-color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.footer-links h3 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 19px;
  letter-spacing: .02em;
  color: #666;
}
footer li:first-child {
  margin-top: 25px;
}

footer li, footer p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #666;
}

main {
  width: 100%;
  position: relative; 
}
.product-size label:has(input:checked){
  @apply bg-gray-300
}










